$none: linear(0, 1);
$power1In: linear(
  0,
  0.0039,
  0.0156,
  0.0352,
  0.0625,
  0.0977,
  0.1407,
  0.1914,
  0.2499,
  0.3164,
  0.3906 62.5%,
  0.5625,
  0.7656,
  1
);
$power1Out: linear(
  0,
  0.2342,
  0.4374,
  0.6093 37.49%,
  0.6835,
  0.7499,
  0.8086,
  0.8593,
  0.9023,
  0.9375,
  0.9648,
  0.9844,
  0.9961,
  1
);
$power1InOut: linear(
  0,
  0.0027,
  0.0106 7.29%,
  0.0425,
  0.0957,
  0.1701 29.16%,
  0.2477,
  0.3401 41.23%,
  0.5982 55.18%,
  0.7044 61.56%,
  0.7987,
  0.875 75%,
  0.9297,
  0.9687,
  0.9922,
  1
);
$power2In: linear(
  0,
  0.0014 11.11%,
  0.0071 19.24%,
  0.0188 26.6%,
  0.037 33.33%,
  0.0634 39.87%,
  0.0978 46.07%,
  0.1407 52.02%,
  0.1925 57.74%,
  0.2559 63.49%,
  0.3295 69.07%,
  0.4135 74.5%,
  0.5083 79.81%,
  0.6141 85%,
  0.7312 90.09%,
  1
);
$power2Out: linear(
  0,
  0.2688 9.91%,
  0.3859 15%,
  0.4917 20.19%,
  0.5865 25.5%,
  0.6705 30.93%,
  0.7441 36.51%,
  0.8075 42.26%,
  0.8593 47.98%,
  0.9022 53.93%,
  0.9366 60.13%,
  0.963 66.67%,
  0.9812 73.4%,
  0.9929 80.76%,
  0.9986 88.89%,
  1
);
$power2InOut: linear(
  0,
  0.0036 9.62%,
  0.0185 16.66%,
  0.0489 23.03%,
  0.0962 28.86%,
  0.1705 34.93%,
  0.269 40.66%,
  0.3867 45.89%,
  0.5833 52.95%,
  0.683 57.05%,
  0.7829 62.14%,
  0.8621 67.46%,
  0.8991 70.68%,
  0.9299 74.03%,
  0.9545 77.52%,
  0.9735 81.21%,
  0.9865 85%,
  0.9949 89.15%,
  1
);
$power3In: linear(
  0,
  0.0039 25%,
  0.0117 32.89%,
  0.0248 39.68%,
  0.0457 46.22%,
  0.0743 52.21%,
  0.1113 57.77%,
  0.1575 63%,
  0.218 68.33%,
  0.2901 73.39%,
  0.3745 78.23%,
  0.4718 82.88%,
  0.5827 87.37%,
  0.7074 91.71%,
  0.8462 95.91%,
  1
);
$power3Out: linear(
  0,
  0.1538 4.09%,
  0.2926 8.29%,
  0.4173 12.63%,
  0.5282 17.12%,
  0.6255 21.77%,
  0.7099 26.61%,
  0.782 31.67%,
  0.8425 37%,
  0.8887 42.23%,
  0.9257 47.79%,
  0.9543 53.78%,
  0.9752 60.32%,
  0.9883 67.11%,
  0.9961 75%,
  1
);
$power3InOut: linear(
  0,
  0.0029 13.8%,
  0.0184 21.9%,
  0.0339 25.51%,
  0.0551 28.81%,
  0.0827 31.88%,
  0.1168 34.76%,
  0.1962 39.57%,
  0.3005 44.02%,
  0.4084 47.53%,
  0.6242 53.45%,
  0.7493 57.93%,
  0.8495 62.97%,
  0.8888 65.67%,
  0.9213 68.51%,
  0.9629 73.9%,
  0.9876 80.16%,
  0.998 87.5%,
  1
);
$power4In: linear(
  0,
  0.0024 29.91%,
  0.008 38.03%,
  0.0179 44.72%,
  0.035 51.16%,
  0.0595 56.88%,
  0.0922 62.08%,
  0.1338 66.88%,
  0.1914 71.85%,
  0.262 76.5%,
  0.3461 80.88%,
  0.4447 85.04%,
  0.5587 89.01%,
  0.689 92.82%,
  0.8359 96.48%,
  1
);
$power4Out: linear(
  0,
  0.1641 3.52%,
  0.311 7.18%,
  0.4413 10.99%,
  0.5553 14.96%,
  0.6539 19.12%,
  0.738 23.5%,
  0.8086 28.15%,
  0.8662 33.12%,
  0.9078 37.92%,
  0.9405 43.12%,
  0.965 48.84%,
  0.9821 55.28%,
  0.992 61.97%,
  0.9976 70.09%,
  1
);
$power4InOut: linear(
  0,
  0.0012 14.95%,
  0.0089 22.36%,
  0.0297 28.43%,
  0.0668 33.43%,
  0.0979 36.08%,
  0.1363 38.55%,
  0.2373 43.07%,
  0.3675 47.01%,
  0.5984 52.15%,
  0.7121 55.23%,
  0.8192 59.21%,
  0.898 63.62%,
  0.9297 66.23%,
  0.9546 69.06%,
  0.9733 72.17%,
  0.9864 75.67%,
  0.9982 83.73%,
  1
);
$quadIn: linear(
  0,
  0.0039,
  0.0156,
  0.0352,
  0.0625,
  0.0977,
  0.1407,
  0.1914,
  0.2499,
  0.3164,
  0.3906 62.5%,
  0.5625,
  0.7656,
  1
);
$quadOut: linear(
  0,
  0.2342,
  0.4374,
  0.6093 37.49%,
  0.6835,
  0.7499,
  0.8086,
  0.8593,
  0.9023,
  0.9375,
  0.9648,
  0.9844,
  0.9961,
  1
);
$quadInOut: linear(
  0,
  0.0027,
  0.0106 7.29%,
  0.0425,
  0.0957,
  0.1701 29.16%,
  0.2477,
  0.3401 41.23%,
  0.5982 55.18%,
  0.7044 61.56%,
  0.7987,
  0.875 75%,
  0.9297,
  0.9687,
  0.9922,
  1
);
$sinusoidalIn: linear(
  0,
  0.0216,
  0.0838 21.09%,
  0.1406 31.78%,
  0.2045 41.76%,
  0.2689 51.05%,
  0.325 59.64%,
  0.3596 66.99%,
  0.3765 73.35%,
  0.3727 78.58%,
  0.3475 82.99%,
  0.2986 86.46%,
  0.2275 89.32%,
  0.1362 91.54%,
  0.0286 93.04%,
  0
);
$sinusoidalOut: linear(
  0,
  0.1714 6.96%,
  0.3638 8.46%,
  0.4725 13.01%,
  0.5273 17.01%,
  0.5404 23.01%,
  0.6554 28.05%,
  0.7172 37.85%,
  0.7499 44.55%,
  0.7423 51.99%,
  0.7605 58.24%,
  0.765 66.99%,
  0.6686 78.05%,
  0.6599 79.58%,
  0.5974 84.78%,
  1
);
$sinusoidalInOut: linear(
  0,
  0.0027,
  0.0106 7.29%,
  0.0425,
  0.0957,
  0.1701 29.16%,
  0.2477,
  0.3401 41.23%,
  0.5982 55.18%,
  0.7044 61.56%,
  0.7987,
  0.875 75%,
  0.9297,
  0.9687,
  0.9922,
  1
);
$expIn: linear(
  0,
  0.02,
  0.04,
  0.06,
  0.08,
  0.1,
  0.2,
  0.3,
  0.4,
  0.5,
  0.6,
  0.7,
  0.8,
  0.9,
  1
);
$expOut: linear(0, 0.1, 0.2, 0.3, 0.4, 0.5, 0.6, 0.7, 0.8, 0.9, 1);
$expInOut: linear(0, 0.1, 0.3, 0.5, 0.7, 0.9, 1);
$cubicIn: cubic-bezier(0.55, 0.055, 0.675, 0.19);
$cubicOut: cubic-bezier(0.25, 0.46, 0.45, 0.94);
$cubicInOut: cubic-bezier(0.65, 0.05, 0.36, 1);
$elasticIn: cubic-bezier(0.23, 1, 0.32, 1);
$elasticOut: cubic-bezier(0.68, -0.55, 0.27, 1.55);
$elasticInOut: cubic-bezier(0.68, -0.55, 0.27, 1.55);
$bounceIn: cubic-bezier(0.52, 0.01, 0.12, 0.99);
$bounceOut: cubic-bezier(0.68, -0.55, 0.27, 1.55);
$bounceInOut: cubic-bezier(0.68, -0.55, 0.27, 1.55);
