@font-face {
  font-family: 'CaslonFiveSSK';
  src: url('/fonts/CaslonFiveSSK.woff') format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: block;
}

html,
body {
  font-size: 10px;
  font-family: 'CaslonFiveSSK';
  font-weight: 400;
}

body {
  white-space: pre-line;
}
